*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}
.wrapper {
    background-color: #fff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar{
    background-color:#1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo{
    width: 370px;
}
.about-me-general{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}
.contacts {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    margin-bottom: 20px;
}
.contacts-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color:#8e949c;
}
.call-email{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-right: 10px;
}
.tech-skils-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
.tech-skils{
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}
.tech-skils-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #f3670b;
}
.tech-skils-text{
    color: #9498a1;
}
.soft-skils{
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
}
.soft-skils-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.soft-skils-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
    color: #f3670b;
}
.soft-skils-text{
    color: #9498a1;
}
.front-end-developer{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
}
.my-name{
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
}
.about-me-container {
    margin-bottom: 65px;
}
.about-me{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
}
.about-me-title{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
}
.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.tech-used{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.dots{
    color: #595959;
    font-weight: 100;
}
.projects-item{
    font-weight: 700;
    margin-left: 17px;
}
.projects-conteiner{
    margin-bottom: 55px;
}
.profession-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.companys-name{
    color: #ff8e42;
}
.work-time{
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}
.profesional-devider{
    color:#000;
}
.profesional-duties{
    margin-top: 14px;
    margin-bottom: 30px;
}
.profesional-duties-item{
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.about-me-education{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 55px;
    margin-bottom: 21px;
}
.university-name{
    color: #ff6b08;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 15px;
}
.educaition-spesials{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

